{% set docker_image = "us-central1-docker.pkg.dev/vllm-405802/vllm-ci-test-repo/vllm-test:$BUILDKITE_COMMIT" %}
{% set docker_image_amd = "rocmshared/vllm-ci:$BUILDKITE_COMMIT" %}
{% set default_num_gpu = 1 %}
{% set default_working_dir = "/vllm-workspace/tests" %}

steps:
  - group: "AMD Tests"
    steps:
      - label: ":docker: build image"
        commands:
          - "docker build --build-arg max_jobs=16 --tag {{ docker_image_amd }} -f Dockerfile.rocm --progress plain ."
          - "docker push {{ docker_image_amd }}"
        plugins:
          - docker-login#v3.0.0:
              username: rocmshared
        key: "amd-build"
        env:
          DOCKER_BUILDKIT: "1"
        retry:
          automatic:
            - exit_status: -1  # Agent was lost
              limit: 5
            - exit_status: -10  # Agent was lost
              limit: 5
        agents:
          queue: amd
        depends_on: ~
      - label: "Scheduler"
        commands:
          - bash .buildkite/amd-scheduler.sh
        priority: 10
        agents:
          queue: amd
        depends_on:
          - "amd-build"
      - wait
    
    {% for step in steps %}
    {% if step.mirror_hardwares and "amd" in step.mirror_hardwares %}
      - label: "AMD: {{ step.label }}"
        agents:
          queue: amd
        command: bash .buildkite/run-amd-test.sh "cd {{ (step.working_dir or default_working_dir) | safe  }} ; {{ step.command  or (step.commands | join(" ; ")) | safe }}"
        plugins:
          - docker-login#v3.0.0:
              username: rocmshared
        priority: {{ step.num_gpus or default_num_gpu }}
        env:
          DOCKER_BUILDKIT: "1"
        soft_fail: true
    {% endif %}
    {% endfor %}